/* screen.css
 *
 * A clean, simple stylesheet that aims for
 * a consistent vertical rhythm.
 *
 * Base font height: 16px
 * Base line length: 24px
 *
 */

/* @group Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td,abbr { margin: 0; padding: 0; }
/* @end */

body {
	font-family: Palatino, Georgia, serif;
	background-color: whitesmoke;
	color: #555;
}

/* Hack via Joel Spolsky to make image rescaling nicer in IE */
img { -ms-interpolation-mode:bicubic; }

/* IE6 ignores this and uses default size of 16pt */
html>body { font-size:16px; }
p { margin: 0 0 1.5em 0; }

a { text-decoration: none; color: #339; }
a:hover { text-decoration: underline; color: #33f; }
a.pdf:before {
	margin-right: 1em;
	content: url(/files/css/icon_pdf.gif); }

h1, h2, h3, h4 {
	color: #333;
	line-height: 1;
	font-family: "Proxima Nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin: 1.5em 0 0.5em;
}

h1 { margin: 0 0 1em; }

#site {
	max-width: 46em;
	margin: 3em auto;
	line-height:1.5em;
}

#page {
	background: white;
	padding: 3em;
	border: 1px solid #ddd;
}

.right { float: right; clear: left; }
.left { float: left; clear: right; }
.inset {
	border: 1px solid silver;
	padding: 2px;
	margin: 0em 0.8em 0.8em 0.8em;
}
.right.inset { margin-right: 0 !important; }
.left.inset { margin-left: 0 !important; }
.quiet {
	color: grey;
	font-size: 0.875em;
	line-height: 1.714em;
}
blockquote {
	padding: 0 2.8em;
	margin: 1.714em 0;
	color: #444;
	font-size: 0.875em;
	line-height: 1.714em;
}

/* @group Lists */
ul, ol {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	line-height: 1.5em;
	padding-left: 1.5em;
}
/* @end */

/* @group Header */
#header, #header a { color: gray; }

#header {
	position: relative;
	line-height: 1em;
	margin-top: .5em;
	margin-bottom: 1em;
	overflow: hidden;
}

#header h1 {
	font-family: "Proxima Nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-bottom: 0;
	float: left;
	font-weight: normal;
}

#header h1 a:hover {
	text-decoration: none;
}

#header ul {
	font-family: "Proxima Nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
	float: right;
	font-size: 100%;
	margin: 0;
	text-align: right;
	list-style: none;
}

#header ul li {
	float: left;
	padding: 0.3em 0 0 1em;
}

#header ul li a:hover {
	color: blue;
}
/* @end */

/* @group Posts */
.posts {
	list-style: none;
}

.posts li {
	padding: 1em 0;
	border-bottom: 1px solid #eee;
	color: silver;
}

.posts li:hover {
	color: #555;
}
/* @end */

/* @group Signature */
.signature {
	margin: 3em 0 1.5em;
	color: gray;
	font-size: 0.85em;
	overflow: hidden;
}

.signature .author {
	font-style: normal;
	float: left;
}

.signature .date {
	float: right;
}
/* @end */

/* @group Code */
pre {
	margin: 1em 0 1.5em 0;
	font-size: 0.85em;
	font-family: "Source Code Pro", monospace;
	line-height: 1.5em;
	color: #111;
	background-color: #fffff0;
	border: 1px solid #ddc;
	padding: 0.5em 1em;
	overflow: hidden;
}

pre:hover { overflow: visible; }

code {
	font-size: 1em;
	padding: 0 0.2em;
	font-family: "Source Code Pro", monospace;
	background-color: #fffff0;
	border: 1px solid #ddc;
	line-height: 1.4em;
}

pre > code {
	background-color: transparent;
	border: none;
}
/* @end */

/* @group Footer */
#footer {
	margin-top: 0;
	color: silver;
	font-size: 0.85em;
	line-height: 1.3em;
}

#footer address {
	position: relative;
	margin: 1em 0 0;
	text-align: right;
	overflow: hidden;
}

#footer a {
	font-style: normal;
	color: gray;
	text-decoration: none;
}

#footer .copyright {
	float: left;
	text-align: left;
	display: block;
}

#footer .engine {
	float: right;
	text-align: right;
	display: block;
}
/* @end */

/* .prev-next */
.prev-next {
	overflow: hidden;
	color: gray;
	font-size: 0.85em;
}

.prev-next .next{
	float: right;
}